/Java/Relaciones/nbproject/private/
/Java/Relaciones/build/
/Java/Clasegenerica/nbproject/private/
/Java/Clasegenerica/build/
/Java/SEGUNDOPARCIALINF121_LINKA/nbproject/private/
/segundoParcial/Fila_B/nbproject/private/
/segundoParcial/Fila_B/build/
/segundoParcial/Genercidad/nbproject/private/
/segundoParcial/Genercidad/build/
/segundoParcial/ejercicio/nbproject/private/
